.message-input {
  position: fixed;
  bottom: 5vh;
  display: flex;
  justify-content: center;
  width: 87%;
  background-color: var(--light-green);
  border-radius: 1.75vh;
}

.message-input__text {
  width: 90%;
  padding: 2vh;
  font-size: 2.3rem;
  background-color: var(--light-green);
  color: var(--dark-green);
  border: none;
  border-radius: 1.75vh;
  resize: none;
}

.message-input__text:focus {
  outline: none;
}

.message-input__text::placeholder {
  color: var(--white);
  opacity: 1;
}

.message-input__send-button {
  align-self: center;
  height: 10vh;
  width: 10vw;
  background-image: url("/public/assets/sendButton.png");
  background-position: center;
  background-size: 10vh;
  background-repeat: no-repeat;
  background-color: var(--light-green);
  border: none;
  border-radius: 1.75vh;
  cursor: pointer;
}

.message-input__send-button:focus {
  outline: none;
}

@media (min-width: 768px) and (max-width: 979px) {
  .message-input__text {
    font-size: 1.9rem;
  }

  .message-input__send-button {
    background-size: 10vh;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .message-input__text {
    font-size: 1.4rem;
  }

  .message-input__send-button {
    background-size: 7vh;
  }
}
@media (max-width: 480px) {
  .message-input__text {
    font-size: 1rem;
  }

  .message-input__send-button {
    background-size: 4vh;
  }
}
