* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
}

:root {
  --dark-green: #2c5545;
  --light-green: #99afa6;
  --white: #dbe0de;
}

body {
  color: var(--dark-green);
  background-color: var(--dark-green);
}
