* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
}

:root {
  --dark-green: #2c5545;
  --light-green: #99afa6;
  --white: #dbe0de;
}

body {
  color: var(--dark-green);
  background-color: var(--dark-green);
}

::-webkit-scrollbar {
  width: 1.3vw;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 10px;
}
